!/discord/settings.json
*.log
GIMP
MuseScore
QtProject.conf
VCMI Team
VirtualBox
beets
cef_user_data
dconf
discord
gh/hosts.yml
htop
libreoffice
mana
nvim-old/autoload
nvim-old/plugged
obs-studio
pki
pulse
qmk
quartus
syncthing
transmission*
unity3d
vcmi
vivaldi
